<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-title>
      PTOMS:Status   
    </ion-title>
    
  </ion-navbar>
</ion-header>
 <ion-content padding>
  <h6 center> </h6><hr>
  <button id='creates' ion-button color="secondary" full (click)="setFormCreateVisible()">Create Session</button>
  <button id='joins'  ion-button color="secondary" full (click)="setFormJoinVisible()">Join Session</button>
  <div class="creates" *ngIf="viewcreate">
    
   
    <form [formGroup]="sessionForm" (ngSubmit)="submitForm(sessionForm.value)">
        <ion-item>
            <ion-label floating>Title</ion-label>
            <ion-input type="text" value="" [formControl]="sessionForm.controls['title']" [ngClass]="{'error-border':!sessionForm.controls['title'].valid}"></ion-input>         
        </ion-item><br/>
        <div class="error-box" *ngIf="sessionForm.controls['title'].hasError('required') && sessionForm.controls['title'].touched">* title is required!</div>
        <div class="error-box" *ngIf="sessionForm.controls['title'].hasError('minlength') && sessionForm.controls['title'].touched">* Minimum title length is 5!</div>
        <div class="error-box" *ngIf="sessionForm.controls['title'].hasError('maxlength') && sessionForm.controls['title'].touched">* Maximum title length is 10!</div>
        <!--<div *ngIf="title.hasError('checkFirstCharacterValidator') && title.touched"
            class="error-box">* title cant't start with number!</div>-->
       <!-- <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="text" value="" [formControl]="sessionForm.controls['password']" ></ion-input>
        </ion-item><br/> 
        <div class="error-box" *ngIf="sessionForm.controls['password'].hasError('required') && sessionForm.controls['password'].touched">* title is required!</div>
        <div class="error-box" *ngIf="sessionForm.controls['password'].hasError('minlength') && sessionForm.controls['password'].touched">* Minimum title length is 8!</div>
    <div class="error-box" *ngIf="sessionForm.controls['password'].hasError('checkFirstCharacterValidatorOutput') && sessionForm.controls['password'].touched">* Password cant't start with number!</div><br/>
    --> 
    
    <ion-list>
        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select [formControl]="sessionForm.controls['type']">
                <ion-option value="bluetooth">Bluetooth</ion-option>
                <ion-option value="internet">Internet</ion-option>    <!-- Select Both? -->     
            </ion-select>
        </ion-item>
    </ion-list><br/>
     
    <button type="submit" ion-button full [disabled]="!sessionForm.valid">Create</button>
    </form>


      <!-- radio mode select --> 
    <!-- 
      <form> 
       <ion-item>
        <ion-label fixed>Sesion Title</ion-label>
        <ion-input name="sessiontitle" [(ngModel)]='sessiontitle' type="text" value=""></ion-input>
      </ion-item>
      <ion-list radio-group>
        <ion-list-header>Session Type</ion-list-header>
          <ion-item>
            <ion-label>Bluetooth</ion-label>
            <ion-radio name='sessiontype' [(ngModel)]='sessiontype' checked='false' value='ble'></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Internet</ion-label>
            <ion-radio name='sessiontype' [(ngModel)]='sessiontype' checked='false' value='internet'></ion-radio>
          </ion-item>
      </ion-list>
       <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input [(ngModel)]='sessionpassword' type="password" placeholder="password"></ion-input>
      </ion-item>

      <ion-card>
          <ion-card-header>
            Invite Code
          </ion-card-header>
          <ion-card-content>
            <div class="qrcode" width='9%' height='9%' style='float: right; border:1px solid; border-color:black'>
              QRQRQRQRQRQRQRQRQRQR<br>
              link   
            </div>
          </ion-card-content>
      </ion-card>
      <button ion-button full (click)="createSession()">Broadcast</button>
    </form> --> 
  </div>
 
  <div class="joins" *ngIf="viewjoin" >
    <form>
    <ion-label>
      Invitation Code
    </ion-label>
      <ion-input>       
      </ion-input>
      <button ion-button>Scan QR Code</button>  
    <button ion-button (click)='joinSession()'>Join</button>
    </form>

  </div> 
</ion-content>